[Unit]
Description=Open Friendly Network Detection Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/open-friendly-net-detection-client/service.py
Restart=on-failure
User=root
Group=root
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/run/fnd /var/lib/open-friendly-net-detection-client
RuntimeDirectory=fnd
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
